@import '/src/styles/Login.css';

@font-face {
  font-family: 'FiraCode Nerd Font';
  src: url( '../src/fonts/FiraCodeNerdFont-Regular.ttf' ) format( 'truetype' );
}
*{
  font-family: 'FiraCode Nerd Font';
}

body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Establecemos la altura del cuerpo al 100% del viewport */
  background: linear-gradient(to bottom, #007bff, #cfd8dc); /* Gradiente lineal de azul a grisáceo */
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #f2f2f2;
}
nav ul li {
  padding: 8px;
  margin: 0;
  background: #f2f2f2;
}
nav ul li Link{
  text-decoration: none;
  color: #333;
  border: #007bff;
}